<h1 class="heading">Clocks</h1>
<p class="sub_head"> Wall Clock @ Upto 70% OFF - Buy wooden Wall Clock Online in India. Choose Antique Wall Clocks For Living Room ☆Bedroom ☆Hall ☆Office & Home Decor.</p>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock1.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Black Metal Analog Wall Clock Craftter</h5>
            <p class="card-text"><b>₹ 1359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock2.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Direction Roman Design Iron Wall Clock</h5>
            <p class="card-text"><b>₹ 1699/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock3.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Palette Wood Wall Clock In Multicolor</h5>
            <p class="card-text"><b>₹ 1249/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock4.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">3D Peacock Fibre Wall Clock In White</h5>
            <p class="card-text"><b>₹ 2359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock5.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">MDF Hand Painted Wall Clock</h5>
            <p class="card-text"><b>₹ 1899/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock6.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Metal Decorative Horizontal Wall Clock In Black</h5>
            <p class="card-text"><b>₹ 2139/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock7.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Tree Nest Wooden Wall Clock</h5>
            <p class="card-text"><b>₹ 1299/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock8.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Wooden Wall Clock In Brown & Yellow</h5>
            <p class="card-text"><b>₹ 1999/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock9.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">MDF And Acrylic Analog Gears Wall Clock</h5>
            <p class="card-text"><b>₹ 1159/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/clock10.jpg" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Golden Metal Analog Round Clock Craftter</h5>
            <p class="card-text"><b>₹ 1459/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
