<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="heading">ABOUT US</h1>
<img src="../assets/images/homedecor1.jpg" alt="img" width="100%">

<p>Started in the year 2022, ShopForHome has been a pioneer in manufacturing and retailing supreme quality and elegant range of Wall Decals, Wall Paintings and other home decor items. Headquartered at New Delhi, we have been offering the most creative and beautiful decals all over the country. We initiated our business with wall stickers and continuously expanding in the fields of other vinyl decor products with best quality promise.</p>

<h5>Team</h5>
<p>We have fully dedicated team of designers, manufacturing workers and sales and marketing. Who are working with utmost inspiration to bring you best quality and most innovative home decor items.
</p>

<h5>Quality Policy</h5>
<p>We assure 100% quality in our offerings. We are proud to make in India, with ZERO Chinese import policy. Every product we sell, is hand crafted under strong quality checks processes. We are committed to bring you latest trends in home decor from across the world. Without compromising the quality, we also maintain reasonable pricing policy to cater the need of wide base of customers.
</p>

<h5>Why Us?</h5>
<p>We deal in modern, traditional, trendy wall decals complimenting the grace of a site. We prioritise the recommendations and demands of our clients to satisfy them above their expectations. Select us for :
    <li>Designer product range</li>
    <li>Moderate pricing policy</li>
    <li>Variegated variety</li>
    <li>Ethical business practices and transparent dealings</li>
    <li>Standardised packaging</li>
    <li>Prompt & safe delivery</li>
</p>
</body>
</html>