.heading {
    padding-top: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    padding-bottom: 25px;
}

body {
    margin-left: 40px;
    margin-right: 40px;
}