<h1 class="heading">Paintings</h1>
<p class="sub_head">Largest Designer Wall Paintings Collection. Premium Quality, Best Prices Only @ShopForHome. Choose
    from 1000s of styles, Buddha Wall Paintings, Abstract & Modern Designs.</p>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint1.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">SAF Digital Reprint 18 x 12 in Painting</h5>
            <p class="card-text"><b>₹ 599/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint2.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Hexagonal Modern Art 21 x 21 inch Painting</h5>
            <p class="card-text"><b>₹ 359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint3.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Set Of 4 Motivational Quotes 19 x 19 inch Painting</h5>
            <p class="card-text"><b>₹ 499/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint6.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Set of 3 Hexagon Digital Reprint 17 x 17 inch Painting</h5>
            <p class="card-text"><b>₹ 649/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint9.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">"Quiet & Serene" Acrylic Painting On Ivory Sheet</h5>
            <p class="card-text"><b>₹ 249/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint4.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Art Amori Digital Reprint 12 inch x 18 inch Painting</h5>
            <p class="card-text"><b>₹ 549/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint5.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title"> Large Panel Embossed 36 inch x 18 inch Painting</h5>
            <p class="card-text"><b>₹ 499/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint7.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">"Flower & The Goddess" Oil Pastel And Brush Pen On Paper</h5>
            <p class="card-text"><b>₹ 299/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint8.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">"Kettle , Cups And Tomatoes" Painting On Canvas</h5>
            <p class="card-text"><b>₹ 749/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/paint10.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">"The Lamp" Water Colour On Pape</h5>
            <p class="card-text"><b>₹ 999/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>