<h1 class="heading">Showpieces</h1>
<p class="sub_head"> Shop wide range Showpiece for home decoration. Buy beautiful showpiece collection at reasonable
    price at ShopForHome.</p>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece1.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Manthan Decorative Showpiece 4 cm</h5>
            <p class="card-text"><b>₹ 359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece2.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Adiyogi Shiva Statue 11 cm (Black Wooden)</h5>
            <p class="card-text"><b>₹ 599/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece3.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Golden Handcrafted Buddha 15 cm </h5>
            <p class="card-text"><b>₹ 649/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece6.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Spiritual Vastu Nandi Pooja Figurine Sculpture</h5>
            <p class="card-text"><b>₹ 799/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece9.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Muscial Ladies (Set of 3) Polyresin Human Figurine</h5>
            <p class="card-text"><b>₹ 1159/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece4.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Love Birds Pair of Kissing Duck Showpiece 18 cm </h5>
            <p class="card-text"><b>₹ 559/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece5.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Dinine Craft Wall Hanging 2 cm (Wood, Multicolor)</h5>
            <p class="card-text"><b>₹ 399/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece7.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Beautiful Madiation Buddha Statue 10 cm </h5>
            <p class="card-text"><b>₹ 899/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece8.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Double Peacock Metal Statue 15.5 cm </h5>
            <p class="card-text"><b>₹ 1199/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/showpiece10.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Lady Playing Violin Ceramic Human Figurine</h5>
            <p class="card-text"><b>₹ 1359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>