<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <title>Login Page</title>
</head>

<body>
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info">
                <span class="company__logo">
                    <h2><span class="fa fa-homedecor"></span></h2>
                </span>
                <h4 class="company_title">Home Decor</h4>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Log In</h2>
                    </div>
                    <form [formGroup]="form" class="text-left">
                        <div class="row">
                            <form control="" class="form-group">
                                <div class="row">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="row">
                                    <!-- <span class="fa fa-lock"></span> -->
                                    <input type="password" name="password" id="password" class="form-control"
                                        placeholder="Password">
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="remember_me" id="remember_me" class="">
                                    <label for="remember_me">Remember Me!</label>
                                </div>
                                <div class="row">
                                    <input type="submit" value="Submit" class="btn" (click)="login()">
                                </div>
                            </form>
                        </div>
                    </form>
                    <div class="row">
                        <p>Don't have an account? <a routerLinkActive="active" routerLink="/user-signin">Register Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>