<h1 class="heading">Wall Shelf</h1>
<p class="sub_head">Enhance the beauty of the four walls of your home with a piece of decorative wall shelf that perfectly reflects your style statement.</p>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf1.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Wooden Wall Shelf 4 Patti Double ( White Brown)</h5>
            <p class="card-text"><b>₹ 799/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf2.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Clover Crafts Intersecting Floating Wall Mounted Shelf /Storage </h5>
            <p class="card-text"><b>₹ 659/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf3.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Black Wrought Iron Utility Shelves Wall Clock</h5>
            <p class="card-text"><b>₹ 599/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf4.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">S Shape Engineered Wood Wall Shelf In Black</h5>
            <p class="card-text"><b>₹ 899/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf5.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Sheesham Wood Floating Book Shelf in Provincial Teak Finish</h5>
            <p class="card-text"><b>₹ 759/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf6.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Brown Engineered Wood Round Set of 4 Modular Book Shelf</h5>
            <p class="card-text"><b>₹ 999/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf7.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Engineered Wood Wall Shelf in Oak Finish</h5>
            <p class="card-text"><b>₹ 459/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf8.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Solid Wood Modern Key Holder in Brown</h5>
            <p class="card-text"><b>₹ 359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf9.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Engineered Wood Wall Shelf in White Colour</h5>
            <p class="card-text"><b>₹ 1059/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/wall_shelf10.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Engineered Wood Wall Shelf in White Colour</h5>
            <p class="card-text"><b>₹ 959/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>