<h1 class="heading">Stickers</h1>
<p class="sub_head"> Buy Stickers for Wall online in India at the best prices with a wide range of varieties available on ShopForHome. Best deals are available to grab it.</p>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker1.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">'Pink Tree With Birds Cage And Nest' Large Sticker</h5>
            <p class="card-text"><b>₹ 359/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker2.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Love Tree With Love Birds ' Wall Stickers 75cm x 110cm</h5>
            <p class="card-text"><b>₹ 159/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker3.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Nilaya by ASIAN PAINTS - Elsa Vinyl Wall Sicker</h5>
            <p class="card-text"><b>₹ 299/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker4.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Sticker Wallpaper Floral Green Adhesive Sticker</h5>
            <p class="card-text"><b>₹ 509/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker9.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Stylish Tea Cup Wall Sticker For Kitchen</h5>
            <p class="card-text"><b>₹ 459/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="card-group card text-center">
    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker5.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title"> 'Lord Krishna Playing Flute' Wall Stickers</h5>
            <p class="card-text"><b>₹ 199/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker6.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Aquire Running Horse Large Self Adhesive Sticker</h5>
            <p class="card-text"><b>₹ 249/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker7.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">RANGOLI Air Conditioner Sticker Adhesive Sticker</h5>
            <p class="card-text"><b>₹ 109/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker8.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Peacock Birds Nature Extra Large Adhesive Sticker</h5>
            <p class="card-text"><b>₹ 199/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../assets/images/sticker10.png" class="card-img-top" alt="img" height="300px">
        <div class="card-body">
            <h5 class="card-title">Birds & Moon Wall Decal Wall Sticker</h5>
            <p class="card-text"><b>₹ 289/-</b></p>
            <div class="btn-group card-footer" role="group" aria-label="Basic checkbox toggle button group">
                <button type="button" class="btn btn-danger">Wishlist</button>
                <button type="button" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
</div>